body {
	margin: 0;
}

.decoration-none {
	text-decoration: none;
}

.ms-auto {
	margin-left: auto !important;
}

.w-100 {
	width: 100%;
}

.h-100vh {
	height: calc(100vh - 60px);
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}
