:root {
	--dialog-width: 90%;
	.reactive-margin {
		margin: 0 0px 0;
	}
}

@media (min-width: 768px) {
:root {
	--dialog-width: 70%;
	.reactive-margin {
		margin: 0 100px 0;
	}
}
}

@media (min-width: 1200px) {
	:root {
		--dialog-width: 50%;
		.reactive-margin {
			margin: 0 200px 0;
		}
	}
}
