:root {
	--primary: #28abce;
	--nav-bg-color: #E5EAF3;
	--nav-active-color: #ff7f7f;
	--font-family: 'Arial, sans-serif';
	--font-size: 16px;
	--margin-x: 0px;

	--dialog-width: 90%;

	font-family: var(--font-family);
	font-size: var(--font-size);
	--el-menu-active-color: var(--primary);
	--el-menu-hover-text-color: var(--primary);
	--el-color-primary: var(--primary) !important;
	--el-font-size-base: 0.9rem;
}

@media (min-width: 768px) {
	:root {
		--dialog-width: 70%;
		--margin-x: 100px;
	}
}

@media (min-width: 1200px) {
	:root {
		--dialog-width: 50%;
		--margin-x: 200px;
	}
}

body {
	margin: 0;
}

.dark {
	--nav-bg-color: #262727;
}

.p-0 {
	padding: 0 !important;
}

.text-title {
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--primary);
}

.text-title {
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--primary);
}
	
.reactive-margin {
	margin: 0 var(--margin-x) 0;
}

.el-link {
	font-size: 1rem;
}

.el-text {
	font-size: 1rem;
}

.ms-auto {
	margin-left: auto;
}
.flex {
	display: flex;
}
