:root {
	--primary: #28abce;
	--nav-bg-color: #E5EAF3;
	--nav-active-color: #ff7f7f;

	--font-family: 'Arial, sans-serif';

	font-family: var(--font-family);
	--el-menu-active-color: var(--primary);
	--el-menu-hover-text-color: var(--primary);
	--el-color-primary: var(--primary) !important;
}

.dark {
	--nav-bg-color: #262727;
}
