@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #28abce; /* 主题色 */
  --subtle-bg-color: #e5eaf3; /* 页脚背景色 */
  --main-bg-color: #f0f0f0; /* 主要区域背景色 */
  --nav-active-color: #ff7f7f;
  --font-family: 'Arial, sans-serif';
  --font-size: 16px;


  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--main-bg-color);
  --el-menu-active-color: var(--primary);
  --el-menu-hover-text-color: var(--primary);
  --el-color-primary: var(--primary) !important;
  --el-font-size-base: 0.9rem;
}

@media (max-width: 768px) {
	:root {
  	--dialog-width: 90%;
  	--el-menu-base-level-padding: 10px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --dialog-width: 70%;
  }
}

@media (min-width: 1024px) {
  :root {
    --dialog-width: 50%;
  }
}

.dark {
  --subtle-bg-color: #262727;
  --main-bg-color: #3c3c3c;
}

.el-sub-menu__title {
	padding-right: var(--el-menu-base-level-padding) !important;
}

.el-link {
  font-size: 1rem;
}

.el-text {
  font-size: 1rem;
}

.el-card {
	border-radius: 12px;
}

.el-card__header {
	font-weight: bold;
}

.el-image {
	display: block;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
